.job {
  padding: 10px;
  border: 1px solid #dddddd;
  margin-top: 5px;
}
.job-title {
  font-size: 20px;
  color: #004570;
}
.job-description {
  font-size: 16px;
  color: #000000;
}
.company-name {
  font-size: 12px;
  color: #000000;
}
.date-added {
  font-size: 12px;
}
.notes-button {
  width: 65px;
  margin-bottom: 10px;
  background-color: #FFFF66;
}

#notes-field {
  margin-bottom: 20px;
}
